
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head><base target="_blank" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>【北京教育网|北京教育培训】</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tags %>
<meta name="Keywords" content="北京教育网,北京教育培训" />

<meta name="Description" content="北京教育培训为您提供北京教育培训,北京教育机构,北京家教信息，在这里有大量的北京教育信息,北京培训信息,北京家教信息供您查询。" />

<link href="http://static.58.com/ui6/dstopbar.css?v=20130311" rel="stylesheet" type="text/css" />

<link href="http://static.58.com/yp/post/sjstyle021800.css?v=20130416" rel="stylesheet" type="text/css" />
<script type="text/javascript">try{var ____json4fe = {catentry:{dispid:'92',name:'教育培训',listname:'jiaoyu'},locallist:{dispid:'1',name:'北京',listname:'bj'},start:(new Date()).getTime(),version:'A',modules:'home'}}catch(e){};</script>

</head>

<body>



<div id="dstopbar">

  <div class="w pos">

    <div id="header"><div id="headerinside"><a id="logotxt"><span>教育培训</span></a>

        <div id="searchbar"><form onsubmit="b_query('final=1&searchtype=6');return false;"><i id="key"><input type="text" id="keyword" class="keyword" value="请输入类别名称或关键字" onblur="win.closeToolTipWindow();" onkeyup="win.GetContentData();" /></i><input type="button" name="button" class="btnal01" id="searchbtn" onclick="b_query('final=1&searchtype=6')" value="找培训" onmousemove="this.className='btnal02'" onmousedown="this.className='btnal03'" onmouseout="this.className='btnal01'" /></form><div class="clear"></div></div>

        <script type="text/javascript">SetCurWindowLoadComplete();SetCurWindowLoadComplete=function(){};</script>

        <div ><a href="http://post.58.com/1/" id="fabu"><i></i>免费发布信息</a></div></div></div>



    <div class="navbox borcol">

      <ul class="nav">

        <li class="on">

        <span><a href="http://bj.58.com/jiaoyu.shtml">首页</a></span>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/fudao/">家教</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/xiaoxuejiajiao/">小学</a></dt>

            <dt><a href="http://bj.58.com/xscjiajiao/">小升初</a></dt>

            <dt><a href="http://bj.58.com/zhongxuejiajiao/">初中</a></dt>

            <dt><a href="http://bj.58.com/zhongkaojiajiao/">中考</a></dt>

            <dt><a href="http://bj.58.com/gaozhongjiajiao/">高中</a></dt>

            <dt><a href="http://bj.58.com/gaokaochongci/">高考</a></dt>

          </dl>

        </div>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/zhiyepeix/">职业技能培训</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/gongwuyuanpeixun/">公务员考试</a></dt>

            <dt><a href="http://bj.58.com/sifakaoshi/">司法考试</a></dt>

            <dt><a href="http://bj.58.com/jianzhufangchan/">建筑/房产/物业</a></dt>

            <dt><a href="http://bj.58.com/jishupeixun/">普工/技工/生产</a></dt>

            <dt><a href="http://bj.58.com/kuaijipeixun/">会计/审计/统计</a></dt>

            <dt><a href="http://bj.58.com/baoguanyuan/">贸易/采购/物流</a></dt>

            <dt><a href="http://bj.58.com/yiliaojiankang/">医疗/健康/心理</a></dt>

            <dt><a href="http://bj.58.com/jiaoshipeixun/">教育/人力/市场</a></dt>

            <dt><a href="http://bj.58.com/huanjingziyuan/">环境/资源/交通</a></dt>

            <dt><a href="http://bj.58.com/miermeifa/">美容/保健/健身</a></dt>

            <dt><a href="http://bj.58.com/chuyipeixun/">餐饮/酒店/旅游</a></dt>

            <dt><a href="http://bj.58.com/jinrongzq/">金融/证券/保险</a></dt>

            <dt><a href="http://bj.58.com/jineng/">汽车制造/服务</a></dt>

            <dt><a href="http://bj.58.com/nonglmy/">农/林/牧/渔</a></dt>

          </dl>

        </div>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/xueli/">学历教育</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/kaoyan/">考研</a></dt>

            <dt><a href="http://bj.58.com/kaobo/">考博</a></dt>

            <dt><a href="http://bj.58.com/yuanchengjiaoyu/">远程网络教育</a></dt>

            <dt><a href="http://bj.58.com/chengrengaokao/">成人高考</a></dt>

            <dt><a href="http://bj.58.com/zikao/">自考</a></dt>

            <dt><a href="http://bj.58.com/kaoyanpeixun/">在职研究生</a></dt>

            <dt><a href="http://bj.58.com/zaizhiboshi/">在职博士</a></dt>

            <dt><a href="http://bj.58.com/chengrengaokao/">民办教育</a></dt>

            <dt><a href="http://bj.58.com/erxueli/">二学历</a></dt>

          </dl>

        </div>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/techang/">文艺培训</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/wudaopeixun/">舞蹈</a></dt>

            <dt><a href="http://bj.58.com/yueqipeixun/">乐器</a></dt>

            <dt><a href="http://bj.58.com/meishupeixun/">美术</a></dt>

            <dt><a href="http://bj.58.com/yinyuepeixun/">声乐</a></dt>

            <dt><a href="http://bj.58.com/shufapeixun/">书法</a></dt>

            <dt><a href="http://bj.58.com/motepeixun/">形体</a></dt>

            <dt><a href="http://bj.58.com/liyi/">礼仪</a></dt>

            <dt><a href="http://bj.58.com/pengrenpx/">烹饪</a></dt>

            <dt><a href="http://bj.58.com/sheyingpx/">摄影</a></dt>

            <dt><a href="http://bj.58.com/guoxue/">国学</a></dt>

            <dt><a href="http://bj.58.com/yishuxuexiao/">插花</a></dt>

            <dt><a href="http://bj.58.com/qitacaiyi/">茶艺</a></dt>

            <dt><a href="http://bj.58.com/yuanyipx/">园艺</a></dt>

            <dt><a href="http://bj.58.com/biaoyanpeixun/">表演</a></dt>

            <dt><a href="http://bj.58.com/djpeixun/">dj</a></dt>

            <dt><a href="http://bj.58.com/moshu/">魔术</a></dt>

            <dt><a href="http://bj.58.com/fengshuipx/">风水</a></dt>

          </dl>

        </div>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/tiyu/">体育培训</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/qiuleipeixun/">球类</a></dt>

            <dt><a href="http://bj.58.com/qilei/">棋类</a></dt>

            <dt><a href="http://bj.58.com/yujiapeixun/">瑜伽</a></dt>

            <dt><a href="http://bj.58.com/wushupeixun/">武术</a></dt>

            <dt><a href="http://bj.58.com/xiuxiantiyu/">健身</a></dt>

            <dt><a href="http://bj.58.com/jianmeicao/">健美操</a></dt>

            <dt><a href="http://bj.58.com/taiquandao/">跆拳道</a></dt>

            <dt><a href="http://bj.58.com/pulati/">普拉提</a></dt>

            <dt><a href="http://bj.58.com/youyongpx/">游泳</a></dt>

            <dt><a href="http://bj.58.com/shebing/">舍宾</a></dt>

            <dt><a href="http://bj.58.com/lunhuapx/">轮滑</a></dt>

            <dt><a href="http://bj.58.com/huaxuepx/">滑雪</a></dt>

            <dt><a href="http://bj.58.com/liubing/">溜冰</a></dt>

            <dt><a href="http://bj.58.com/huwaipeixun/">马术</a></dt>

          </dl>

        </div>

        </li>



        <li class="tc">

        <span><a href="http://bj.58.com/waiyu/">语言培训</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/yingyupx/">英语</a></dt>

            <dt><a href="http://bj.58.com/riyupeixun/">日语</a></dt>

            <dt><a href="http://bj.58.com/hanyupeixun/">韩语</a></dt>

            <dt><a href="http://bj.58.com/deyupeixun/">德语</a></dt>

            <dt><a href="http://bj.58.com/fayupeixun/">法语</a></dt>

            <dt><a href="http://bj.58.com/xibanyayupx/">西班牙语</a></dt>

            <dt><a href="http://bj.58.com/hanyupx/">汉语</a></dt>

            <dt><a href="http://bj.58.com/eyupeixun/">俄语</a></dt>

            <dt><a href="http://bj.58.com/yidaliyupx/">意大利语</a></dt>

            <dt><a href="http://bj.58.com/putaoyyupx/">葡萄牙语</a></dt>

            <dt><a href="http://bj.58.com/taiyu/">泰语</a></dt>

            <dt><a href="http://bj.58.com/malaiyu/">马来西亚语</a></dt>

            <dt><a href="http://bj.58.com/xilayu/">希腊语</a></dt>

            <dt><a href="http://bj.58.com/qitayupx/">小语种</a></dt>

          </dl>

        </div>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/jisuanji/">IT培训</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/bangongzdh/">办公自动化</a></dt>

            <dt><a href="http://bj.58.com/wlyxpeixun/">网络营销</a></dt>

            <dt><a href="http://bj.58.com/itrenzheng/">IT认证</a></dt>

            <dt><a href="http://bj.58.com/rjgcspeixun/">软件开发</a></dt>

            <dt><a href="http://bj.58.com/yidongkf/">移动开发</a></dt>

            <dt><a href="http://bj.58.com/youxipeixun/">游戏开发</a></dt>

            <dt><a href="http://bj.58.com/sjkpeixun/">数据库</a></dt>

            <dt><a href="http://bj.58.com/jsjdjkaoshi/">计算机等级考试</a></dt>

            <dt><a href="http://bj.58.com/ruankao/">软件水平考试</a></dt>

            <dt><a href="http://bj.58.com/jsjzhicheng/">计算机职称考试</a></dt>

            <dt><a href="http://bj.58.com/ruanjianceshi/">软件测试</a></dt>

            <dt><a href="http://bj.58.com/wlgcspeixun/">网络工程/管理</a></dt>

            <dt><a href="http://bj.58.com/dnwxpeixun/">硬件技术/维修</a></dt>

            <dt><a href="http://bj.58.com/qianrushikf/">嵌入式开发</a></dt>

            <dt><a href="http://bj.58.com/yingshizz/">影视制作</a></dt>

            <dt><a href="http://bj.58.com/erpcrm/">ERP/CRM</a></dt>

          </dl>

        </div>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/mba/">管理培训</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/qiyepeixun/">管理技能</a></dt>

            <dt><a href="http://bj.58.com/zhiyesuyang/">职业素养</a></dt>

            <dt><a href="http://bj.58.com/xingzhengguanli/">人力行政</a></dt>

            <dt><a href="http://bj.58.com/shengchangl/">生产管理</a></dt>

            <dt><a href="http://bj.58.com/caiwuguanli/">财务管理</a></dt>

            <dt><a href="http://bj.58.com/yingxiaoxs/">营销销售</a></dt>

            <dt><a href="http://bj.58.com/wuliuguanli/">物流供应链</a></dt>

            <dt><a href="http://bj.58.com/jiudianguanli/">酒店管理</a></dt>

            <dt><a href="http://bj.58.com/gongchengguanli/">工程管理</a></dt>

            <dt><a href="http://bj.58.com/suzhituozhan/">素质拓展</a></dt>



          </dl>

        </div>

        </li>

        <li class="tc">

        <span><a href="http://bj.58.com/liuxue/">留学</a></span>

        <div class="suball catecss">

          <dl>

            <dt><a href="http://bj.58.com/meiguoliuxue/">美国</a></dt>

            <dt><a href="http://bj.58.com/jndliuxue/">加拿大</a></dt>

            <dt><a href="http://bj.58.com/yingguoliuxue/">英国</a></dt>

            <dt><a href="http://bj.58.com/deguoliuxue/">德国</a></dt>

            <dt><a href="http://bj.58.com/faguoliuxue/">法国</a></dt>

            <dt><a href="http://bj.58.com/aozhouliuxue/">澳洲</a></dt>

            <dt><a href="http://bj.58.com/xjpliuxue/">新加坡</a></dt>

            <dt><a href="http://bj.58.com/ribenliuxue/">日本</a></dt>

            <dt><a href="http://bj.58.com/hanguoliuxue/">韩国</a></dt>

            <dt><a href="http://bj.58.com/mlxyliuxue/">马来西亚</a></dt>

            <dt><a href="http://bj.58.com/elsliuxue/">俄罗斯</a></dt>

            <dt><a href="http://bj.58.com/helanliuxue/">荷兰</a></dt>

            <dt><a href="http://bj.58.com/xbyliuxue/">西班牙</a></dt>

            <dt><a href="http://bj.58.com/xxlliuxue/">新西兰</a></dt>

            <dt><a href="http://bj.58.com/yidalilx/">意大利</a></dt>

            <dt><a href="http://bj.58.com/ruishilx/">瑞士</a></dt>

            <dt><a href="http://bj.58.com/lx/">其他国家</a></dt>



          </dl>

        </div>

        </li>

        <li class="sj" style="float:right; width:90px; text-align:right; margin:0px; padding:0px;">

        <a href="http://shop.58.com/tuiguang.html">商家入驻</a>

        </li>

      </ul> 

    </div>



    <div class="cb">

      <div class="l">

        <h2><a href="http://bj.58.com/fudao/">家教</a></h2>

        <p><a href="http://bj.58.com/xiaoxuejiajiao/">小学</a><cite>|</cite>

        <a href="http://bj.58.com/xscjiajiao/">小升初</a><cite>|</cite>

        <a href="http://bj.58.com/zhongxuejiajiao/">初中</a><cite>|</cite>

        <a href="http://bj.58.com/zhongkaojiajiao/">中考</a><cite>|</cite>

        <a href="http://bj.58.com/gaozhongjiajiao/">高中</a><cite>|</cite>

        <a href="http://bj.58.com/gaokaochongci/">高考</a><cite>|</cite>

        <a class="c_r" href="http://www.58.com/gaokaochongci/">高考专题</a><cite>|</cite>

        <a class="c_r" href="http://www.58.com/zhongkaojiajiao/">中考专题</a>

        </p>



        <h2><a href="http://bj.58.com/xueli/">学历教育</a></h2>

        <p><a href="http://bj.58.com/kaoyan/">考研</a><cite>|</cite>

        <a href="http://bj.58.com/kaobo/">考博</a><cite>|</cite>

        <a href="http://bj.58.com/yuanchengjiaoyu/">远程网络教育</a><cite>|</cite>

        <a href="http://bj.58.com/chengrengaokao/">成人高考</a><cite>|</cite>

        <a class="c_r" href="http://bj.58.com/zikao/">自考</a><cite>|</cite>

        <a href="http://bj.58.com/kaoyanpeixun/">在职研究生</a><cite>|</cite>

        <a href="http://bj.58.com/zaizhiboshi/">在职博士</a><br />

        <a href="http://bj.58.com/chengrengaokao/">民办教育</a><cite>|</cite>

        <a href="http://bj.58.com/erxueli/">二学历</a></p>



        <h2><a href="http://bj.58.com/techang/">艺术培训</a></h2>

        <p> <a class="c_r" href="http://bj.58.com/wudaopeixun/">舞蹈</a><cite>|</cite>

        <a href="http://bj.58.com/yueqipeixun/">乐器</a><cite>|</cite>

        <a href="http://bj.58.com/meishupeixun/">美术</a><cite>|</cite>

        <a href="http://bj.58.com/yinyuepeixun/">声乐</a><cite>|</cite>

        <a href="http://bj.58.com/shufapeixun/">书法</a><cite>|</cite>

        <a href="http://bj.58.com/motepeixun/">形体</a><cite>|</cite>

        <a href="http://bj.58.com/liyi/">礼仪</a><cite>|</cite>

        <a href="http://bj.58.com/pengrenpx/">烹饪</a><cite>|</cite>

        <a href="http://bj.58.com/sheyingpx/">摄影</a><cite>|</cite>

        <a href="http://bj.58.com/guoxue/">国学</a><br />

        <a href="http://bj.58.com/yishuxuexiao/">插花</a><cite>|</cite>

        <a href="http://bj.58.com/qitacaiyi/">茶艺</a><cite>|</cite>

        <a href="http://bj.58.com/yuanyipx/">园艺</a><cite>|</cite>

        <a href="http://bj.58.com/biaoyanpeixun/">表演</a><cite>|</cite>

        <a href="http://bj.58.com/djpeixun/">dj</a><cite>|</cite>

        <a href="http://bj.58.com/moshu/">魔术</a><cite>|</cite>

        <a href="http://bj.58.com/fengshuipx/">风水</a></p>



        <h2><a href="http://bj.58.com/jisuanji/">IT培训</a></h2>

        <p><a href="http://bj.58.com/bangongzdh/">办公自动化</a><cite>|</cite>

        <a href="http://bj.58.com/wlyxpeixun/">网络营销</a><cite>|</cite>

        <a class="c_r" href="http://bj.58.com/itrenzheng/">IT认证</a><cite>|</cite>

        <a href="http://bj.58.com/rjgcspeixun/">软件开发</a><cite>|</cite>

        <a href="http://bj.58.com/yidongkf/">移动开发</a><cite>|</cite>

        <a href="http://bj.58.com/youxipeixun/">游戏开发</a><cite>|</cite>

        <a href="http://bj.58.com/sjkpeixun/">数据库</a><br />

        <a href="http://bj.58.com/jsjdjkaoshi/">计算机等级考试</a><cite>|</cite>

        <a href="http://bj.58.com/ruankao/">软件水平考试</a><cite>|</cite>

        <a href="http://bj.58.com/jsjzhicheng/">计算机职称考试</a><cite>|</cite>

        <a href="http://bj.58.com/ruanjianceshi/">软件测试</a><cite>|</cite>

        <a href="http://bj.58.com/wlgcspeixun/">网络工程/管理</a><br />

        <a href="http://bj.58.com/dnwxpeixun/">硬件技术/维修</a><cite>|</cite>

        <a href="http://bj.58.com/qianrushikf/">嵌入式开发</a><cite>|</cite>

        <a href="http://bj.58.com/yingshizz/">影视制作</a><cite>|</cite>

        <a href="http://bj.58.com/erpcrm/">ERP/CRM</a></p>



        <h2><a href="http://bj.58.com/shejipeixun/">设计培训</a></h2>

        <p><a href="http://bj.58.com/pmshpeixun/">平面设计</a><cite>|</cite>

        <a class="c_r" href="http://bj.58.com/fzsjpeixun/">服装设计</a><cite>|</cite>

        <a href="http://bj.58.com/snsjpeixun/">室内设计</a><cite>|</cite>

        <a href="http://bj.58.com/wysjpeixun/">网页设计</a><cite>|</cite>

        <a href="http://bj.58.com/guanggaosj/">广告设计</a><cite>|</cite>

        <a href="http://bj.58.com/baozhuangsj/">包装设计</a><br />

        <a href="http://bj.58.com/jiajusheji/">家具设计</a><cite>|</cite>

        <a href="http://bj.58.com/jzsjpeixun/">景观设计</a><cite>|</cite>

        <a href="http://bj.58.com/yuanlinsj/">园林设计</a><cite>|</cite>

        <a href="http://bj.58.com/xingxiangsj/">形象设计</a><cite>|</cite>

        <a href="http://bj.58.com/dmsjpeixun/">动漫设计</a><cite>|</cite>

        <a href="http://bj.58.com/mjsjpeixun/">模具设计</a><br />

        <a href="http://bj.58.com/huizhansj/">会展设计</a><cite>|</cite>

        <a href="http://bj.58.com/secaidapei/">色彩搭配</a><cite>|</cite>

        <a href="http://bj.58.com/zhubaojd/">珠宝鉴定</a><cite>|</cite>

        <a href="http://bj.58.com/zhuangshisj/">装饰装潢设计</a><cite>|</cite>

        <a href="http://bj.58.com/qitasheji/">其他设计</a></p>



        <h2><a href="http://bj.58.com/liuxue/">留学</a></h2>

        <p><a class="c_r" href="http://bj.58.com/meiguoliuxue/">美国</a><cite>|</cite>

        <a href="http://bj.58.com/jndliuxue/">加拿大</a><cite>|</cite>

        <a href="http://bj.58.com/yingguoliuxue/">英国</a><cite>|</cite>

        <a href="http://bj.58.com/deguoliuxue/">德国</a><cite>|</cite>

        <a href="http://bj.58.com/faguoliuxue/">法国</a><cite>|</cite>

        <a href="http://bj.58.com/aozhouliuxue/">澳洲</a><cite>|</cite>

        <a href="http://bj.58.com/xjpliuxue/">新加坡</a><cite>|</cite>

        <a href="http://bj.58.com/ribenliuxue/">日本</a><cite>|</cite>

        <a href="http://bj.58.com/hanguoliuxue/">韩国</a><br />

        <a href="http://bj.58.com/mlxyliuxue/">马来西亚</a><cite>|</cite>

        <a href="http://bj.58.com/elsliuxue/">俄罗斯</a><cite>|</cite>

        <a href="http://bj.58.com/helanliuxue/">荷兰</a><cite>|</cite>

        <a href="http://bj.58.com/xbyliuxue/">西班牙</a><cite>|</cite>

        <a href="http://bj.58.com/xxlliuxue/">新西兰</a><cite>|</cite>

        <a href="http://bj.58.com/yidalilx/">意大利</a><cite>|</cite>

        <a href="http://bj.58.com/ruishilx/">瑞士</a><cite>|</cite>

        <a href="http://bj.58.com/lx/">其他国家</a></p>



        <h2><a href="http://bj.58.com/lxymvisa/">留学/移民签证</a></h2>

        <p><a href="http://bj.58.com/guojilaowu/">出国劳务签证</a><cite>|</cite>

        <a href="http://bj.58.com/lxvisa/">留学签证</a><cite>|</cite>

        <a href="http://bj.58.com/ymvisa/">移民签证</a></p>

      </div>



      <div class="r">

        <h2><a href="http://bj.58.com/zhiyepeix/">职业技能培训</a></h2>

        <p><a href="http://bj.58.com/gongwuyuanpeixun/">公务员考试</a><cite>|</cite>

        <a href="http://bj.58.com/sifakaoshi/">司法考试</a><cite>|</cite>

        <a href="http://bj.58.com/jianzhufangchan/">建筑/房产/物业</a><cite>|</cite>

        <a href="http://bj.58.com/jishupeixun/">普工/技工/生产</a><cite>|</cite>

        <a class="c_r" href="http://bj.58.com/kuaijipeixun/">会计/审计/统计</a><br />

        <a href="http://bj.58.com/baoguanyuan/">贸易/采购/物流</a><cite>|</cite>

        <a href="http://bj.58.com/yiliaojiankang/">医疗/健康/心理</a><cite>|</cite>

        <a href="http://bj.58.com/jiaoshipeixun/">教育/人力/市场</a><cite>|</cite>

        <a href="http://bj.58.com/huanjingziyuan/">环境/资源/交通</a><br />

        <a href="http://bj.58.com/miermeifa/">美容/保健/健身</a><cite>|</cite>

        <a href="http://bj.58.com/chuyipeixun/">餐饮/酒店/旅游</a><cite>|</cite>

        <a href="http://bj.58.com/jinrongzq/">金融/证券/保险</a><cite>|</cite>

        <a href="http://bj.58.com/jineng/">汽车制造/服务</a><br />

        <a href="http://bj.58.com/nonglmy/">农/林/牧/渔</a></p>



        <h2><a href="http://bj.58.com/tiyu/">体育培训</a></h2>

        <p><a class="c_r" href="http://bj.58.com/qiuleipeixun/">球类</a><cite>|</cite>

        <a href="http://bj.58.com/qilei/">棋类</a><cite>|</cite>

        <a href="http://bj.58.com/yujiapeixun/">瑜伽</a><cite>|</cite>

        <a href="http://bj.58.com/wushupeixun/">武术</a><cite>|</cite>

        <a href="http://bj.58.com/xiuxiantiyu/">健身</a><cite>|</cite>

        <a href="http://bj.58.com/jianmeicao/">健美操</a><cite>|</cite>

        <a href="http://bj.58.com/taiquandao/">跆拳道</a><cite>|</cite>

        <a href="http://bj.58.com/pulati/">普拉提</a><cite>|</cite>

        <a href="http://bj.58.com/youyongpx/">游泳</a><br />

        <a href="http://bj.58.com/shebing/">舍宾</a><cite>|</cite>

        <a href="http://bj.58.com/lunhuapx/">轮滑</a><cite>|</cite>

        <a href="http://bj.58.com/huaxuepx/">滑雪</a><cite>|</cite>

        <a href="http://bj.58.com/liubing/">溜冰</a><cite>|</cite>

        <a href="http://bj.58.com/huwaipeixun/">马术</a></p>



        <h2><a href="http://bj.58.com/waiyu/">语言培训</a></h2>

        <p><a href="http://bj.58.com/yingyupx/">英语</a><cite>|</cite>

        <a href="http://bj.58.com/riyupeixun/">日语</a><cite>|</cite>

        <a href="http://bj.58.com/hanyupeixun/">韩语</a><cite>|</cite>

        <a href="http://bj.58.com/deyupeixun/">德语</a><cite>|</cite>

        <a class="c_r" href="http://bj.58.com/fayupeixun/">法语</a><cite>|</cite>

        <a href="http://bj.58.com/xibanyayupx/">西班牙语</a><cite>|</cite>

        <a href="http://bj.58.com/hanyupx/">汉语</a><cite>|</cite>

        <a href="http://bj.58.com/eyupeixun/">俄语</a><cite>|</cite>

        <a href="http://bj.58.com/yidaliyupx/">意大利语</a><br />

        <a href="http://bj.58.com/putaoyyupx/">葡萄牙语</a><cite>|</cite>

        <a href="http://bj.58.com/taiyu/">泰语</a><cite>|</cite>

        <a href="http://bj.58.com/malaiyu/">马来西亚语</a><cite>|</cite>

        <a href="http://bj.58.com/xilayu/">希腊语</a><cite>|</cite>

        <a href="http://bj.58.com/qitayupx/">小语种</a></p>



        <h2><a href="http://bj.58.com/mba/">管理培训</a></h2>

        <p><a class="c_r" href="http://bj.58.com/qiyepeixun/">管理技能</a><cite>|</cite>

        <a href="http://bj.58.com/zhiyesuyang/">职业素养</a><cite>|</cite>

        <a href="http://bj.58.com/xingzhengguanli/">人力行政</a><cite>|</cite>

        <a href="http://bj.58.com/shengchangl/">生产管理</a><cite>|</cite>

        <a href="http://bj.58.com/caiwuguanli/">财务管理</a><cite>|</cite>

        <a href="http://bj.58.com/yingxiaoxs/">营销销售</a><br />

        <a href="http://bj.58.com/wuliuguanli/">物流供应链</a><cite>|</cite>

        <a href="http://bj.58.com/jiudianguanli/">酒店管理</a><cite>|</cite>

        <a href="http://bj.58.com/gongchengguanli/">工程管理</a><cite>|</cite>

        <a href="http://bj.58.com/suzhituozhan/">素质拓展</a></p>



        <h2><a href="http://bj.58.com/youjiao/">婴幼儿教育</a></h2>

        <p><a href="http://bj.58.com/taijiao/">胎教</a><cite>|</cite>

        <a href="http://bj.58.com/qinzijiaoyu/">亲子教育</a><cite>|</cite>

        <a href="http://bj.58.com/youeryuanjiaoyu/">幼儿园</a><cite>|</cite>

        <a href="http://bj.58.com/xueqianjiaoyu/">学前教育</a></p>



        <h2><a href="http://bj.58.com/yimin/">移民</a></h2>

        <p><a href="http://bj.58.com/meiguoliuxue/" >美国</a><cite>|</cite>

        <a href="http://bj.58.com/jndliuxue/" >加拿大</a><cite>|</cite>

        <a href="http://bj.58.com/adlyyimin/" >澳大利亚</a><cite>|</cite>

        <a href="http://bj.58.com/xxlliuxue/" >新西兰</a><cite>|</cite>

        <a href="http://bj.58.com/xjpliuxue/" >新加坡</a><cite>|</cite>

        <a href="http://bj.58.com/yingguoliuxue/" >英国</a><cite>|</cite>

        <a href="http://bj.58.com/deguoliuxue/" >德国</a><cite>|</cite>

        <a href="http://bj.58.com/aozhouyimin/" >爱尔兰</a><br />

        <a href="http://bj.58.com/xbyliuxue/" >西班牙</a><cite>|</cite>

        <a href="http://bj.58.com/putaoyaym/" >葡萄牙</a><cite>|</cite>

        <a href="http://bj.58.com/saipulusi/" >塞浦路斯</a><cite>|</cite>

        <a href="http://bj.58.com/latuowy/" >拉脱维亚</a><cite>|</cite>

        <a href="http://bj.58.com/maertaym/" >马耳他</a><cite>|</cite>

        <a href="http://bj.58.com/ruidianym/" >瑞典</a><cite>|</cite>

        <a href="http://bj.58.com/xiongyaliym/" >匈牙利</a><br />

        <a href="http://bj.58.com/xianggangym/" >香港</a><cite>|</cite>

        <a href="http://bj.58.com/taiwanym/" >台湾</a></p>

      </div>



    </div>



    <div id="footer">

      <div class="bg"><div id="contact">

          <span>京ICP证060405</span>     <a href="http://www.58.com/huangye/" style="margin-left:20px;">黄页导航</a> <br />

          <div class="clear"></div></div></div>

    </div>

    <div style="display:none;">

      <script type="text/javascript">

document.write('<scr' + 'ipt type="text/javascript" src="http://track.58.com/adsys/huangyeadsys/?p=ad1|156,ad2|8444&rid=11&t='+Math.random()+'"></scr' + 'ipt>');

      </script>

      <script type="text/javascript">

var _gaq = _gaq || []; var site_name = "58";

var _trackURL = "{'cate':'92','area':'1','pagetype':'index'}";

_gaq.push(['pageTracker._setAccount', 'UA-877409-4']); 

_gaq.push(['pageTracker._setDomainName', '.58.com']);

_gaq.push(['pageTracker._setAllowLinker', true]); 

_gaq.push(['pageTracker._addOrganic', 'sogou', 'query']); 

_gaq.push(['pageTracker._addOrganic', 'baidu', 'word']); 

_gaq.push(['pageTracker._addOrganic', 'soso', 'w']); 

_gaq.push(['pageTracker._addOrganic', 'youdao', 'q']); 

_gaq.push(['pageTracker._addOrganic', '360', 'q']);

_gaq.push(['pageTracker._trackPageview', '/index/huangye/jiaoyu/']);

boot.require('util.js', function(Frame, js){

  Frame.init(function(){

    js.append( ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');

    js.append('http://track.58.com/referrer2.js');});});</script>

      <script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3bb04d7a4ca3846dcc66a99c3e861511' type='text/javascript'%3E%3C/script%3E"));

      </script>

      <form action="#" id="gahuangye"> 

        <input type="hidden"  id="uavalues" name="uavalues" value="citysign:bj;pagetype:huangyelist1;pagename1:jiaoyu" /> 

      </form> 

      <script type="text/javascript"> 

var _hl = _hl || []; 

_hl.push(['hlOne._setLRSM']); 

_hl.push(['hlOne._setDomainName', '.58.com']);

_hl.push(['hlOne._setAllowLinker', true]); 

_hl.push(['hlOne._setLGP', 'http://huangye.t.58.com/image/collectlog.gif']);

_hl.push(['hlOne._tp']);

      </script>

      <script src="http://static.58.com/ui6/yp/ualog.js" type="text/javascript"></script>

    </div>

    </body>
    </html>

